
<h1>What is YOUR weather today</h1>


<h3>Forecast today: <%= data.weather_state_name %></h3>

<h3>Low temp today: <%= data.min_temp %></h3>

<h3>High temp today: <%= data.max_temp %></h3>

<h3>Humidity today: <%= data.humidity %></h3>

<h3>Wind & Speed today: <%= data.wind_speed %></h3>

